
<html>
<head>
  <meta charset="UTF-8">
  <title>Votelog</title>
</head>
<body>
<h1>투표 앱에 오신것을 환영합니다.</h1>
  <form action="/vote">
  이름 : <input type ="text" name = "name"><br>
  1시간 : <input type ="radio"name = "vote" value = "1"><br>
  2시간 : <input type ="radio"name = "vote" value = "2"><br>
  3시간 : <input type ="radio"name = "vote" value = "3"><br>
    <input type ="submit">
</form>
</body>
</html>
