<html>
<head>
  <meta charset="UTF-8">
  <title>Votelog</title>
</head>
<body>
<h1>투표 결과.</h1>
  <p><%= @name %>님은 <%= @vote%>시간에 투표하셨습니다.</p>
  <a href = "/"> 뒤로 </a><br>
  <a href = "/result"> 결과보기 </a>

</body>
